/* index.css */

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  padding: 20px;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.controls {
  margin-top: 20px;
}

.controls input[type='range'] {
  width: 200px;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

/* index.css */

.settings {
  margin: 20px 0;
}

.settings div {
  margin: 10px 0;
}

.settings label {
  display: inline-block;
  width: 250px;
  text-align: right;
  margin-right: 10px;
}

.settings input {
  width: 60px;
}

